*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}

aside{
    display: flex;
   flex-direction: column;
    width: 200px;
    height: 100%;
    background-color:rgb(192, 211, 227) ;
}
.logo{
    display: flex;

    justify-content: center;
    background-color: grey;
    height: 5%;

}
.link{
    flex: 1;
}
a{
    
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-decoration: none;
    color: #2b2b2b;
    
}
a:hover{
    color: #2b2bb2 ;
    transition: 0.3s;
    
}
.content{

     display: flex; 
     flex-direction: column; 
     align-items: center;  
}





img{
    margin: 20px;
    width: 100px;
    height: 100px;
    
    background-color: gray;
    border-radius: 100px;
}
h4{
    background-color:rgb(192, 211, 227);
 }
