* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.container{
    padding:40px 40px ;
    display: grid;
    height: 400px;
    width: 300px;
;

}

main{
    
    width: 100%;
    height: 90%;
    /* background-color:; */
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    background-color: blanchedalmond;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    /* grid-template-areas: 
    "più meno moltiplicazione divisione"
    "sette otto nove equals"
    "quattro cinque sei equals"
    "uno due tre equals"
    "zero dot AC equals";*/
} 
/* .più{
  grid-area: più;
}

.meno{
    grid-area: meno;
}

.moltiplicazione{
    grid-area: moltiplicazione;
}

.divisione{
    grid-area: divisione;
}

.nove{
    grid-area: nove;
}
.otto{
    grid-area: otto;
}

.sette{
    grid-area: sette;
}

.sei{
    grid-area: sei;
}
.cinque{
    grid-area: cinque;
}

.quattro{
    grid-area: quattro;
}
.tre{
    grid-area: tre;
}
.due{
    grid-area: due;
}
.uno{
    grid-area: uno;
}
.dot{
    grid-area: dot;
}
.AC{
    grid-area: AC;
}

.equals{
    grid-area: equals;
    
} */
.equals{
    
    grid-row: span 4;
    background-color: rgb(188, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 4px; 
}
main div{
    background-color: lightgray;
    border: 1px solid;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#result{
    color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid black;
    background-color: cadetblue;
    text-align:end;
    display: flex;
    justify-content: end;
    align-items: center;
}
.zero{
    border-bottom-left-radius:4px ;
}