*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-width:250px;
}
body{
    background-color: lightgray;
    width: 100vw;
    height:100vh;
}
main{
    margin-top: 20%;
    margin-left: 20%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width:var(--box-width);
    height: 40%;
}
.container{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    border: 1px solid;
}
.header{
    display: flex;
}
.date{
    display: flex;
   flex-direction: column-reverse;
    
}

.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
}


@media (min-width: 150px) {

    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: lightgray;
        border-radius: 10px;
        height: auto;
        width: var(--box-width);
        margin: auto;
        margin-bottom: 20px;
    }
 
   
}
@media (min-width: 768px ) {
  
    main{
        display: inline-block;
        background-color: lightgray;
        border-radius: 10px;
        height: auto;
        width: var(--box-width);
        margin: 20px 0px 0px 20px;
        
    }
    
}
@media ( min-width:1080px ) {
    main{
        display: inline-block;
        background-color: lightgray;
        border-radius: 10px;
        height: auto;
        width: var(--box-width);
        margin: 20px 0px 0px 20px;
        
    }
    
}
