nav{
    display: flex;
    background-color: grey;

}
a{
    text-decoration: none;
    color: white;
}
label{
    color: white;
}
select{
    color: white;
    background-color: black;
}
.button{
    background-color: black;
    color: green;
    border-radius: 3px;
}
.button:hover {
 background-color: green;
 color: white;
}